h1 {
    text-align: center;
}
nav {
   background-color: #2283c3;
}

ul {
    list-style: none;
    text-align: center;
    
}

li {
    display: inline-block;
    margin: 10px;
}

a {
    text-decoration: none;
}

p {
    text-align: center;
}

.hide {
    display: none;
}

.first-img-styling {
    max-width: 100%;
    height: auto;
    display: block;
    margin-bottom: 10px;
}